# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtual environment
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
cover/
coverage.xml
*.cover
*.py,cover
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Data directories (keep .gitkeep)
data/*
!data/**/.gitkeep

# Ignore files created by tesseract and OCR processing
*.traineddata

# Logs
*.log
